<!DOCTYPE html>
<html lang="en">
<head>                                                                                                                                 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de upload</title>
</head>
<body>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <h1>Formulário de upload</h1>
        <input type="file" name="file">
        <button type="submit">enviar o documento</button>
    </form>
    
</body>
</html>